{% extends 'music/base.html' %}

{% block body %}
	{% if object_list %}
    	
    	<ul>
		<div class="row">
		    {% for album in object_list %}
			
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><center>
							<div class="thumbnail" style="height:270px;width:300px;">
								<img src="{{album.album_logo}}" style="height:200px;width:280px;">
								<b><a href="{% url 'music:detail' album.id %}" style="text-decoration: none">{{album.album_title}}</a></b><br>
								<div class="row"><div class="col-md-4"></div> <div class="col-md-2"><div class="thumbnail" style="height:26px;width:30px;"><a href="#" style="text-decoration: none">	
									<center><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></center>&nbsp;
									
								</a></div></div>
								<div class="col-md-1"><div class="thumbnail" style="height:26px;width:30px;"><a href="#" style="text-decoration: none">	
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
									
								</a></div></div></div>
							</div>
						</center></div>
						
			
		    {% endfor %}
		</div>
    	</ul>
	{% else %}
   	         <h3>You don't have any albums</h3>
	{% endif %}
{% endblock %}
